


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  
  
}
.header {
  height: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 30px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.main-footer{
  height: 70px;
  width: 100%;
  background-color:black;
}
.main-footer .footer-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

#logo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
#logo-name {
  margin-left: 0.5rem;
  font-size: 2rem;
  font-weight: 900;

}
.main-nav, .footer-nav{
  margin: 0;
  padding: 0;
}
.main-nav ul {
  display: flex;
  list-style: none;
  font-weight: 800;
  margin-left: 2rem;
}
.footer-nav ul{
  display: flex;
  list-style: none;
  font-weight: 800;
  color: white;
}
.footer-nav a{
  color: white;
  text-decoration: none;
  padding:  0 .4rem;
  font-weight: 800;
}
.main-nav a {
  color: white;
  text-decoration: none;
  padding: 1.1rem;
  font-weight: 800;
}
.main-nav a:hover {
  color: black;
  border-radius: 20px;
  background: white;
}
.container {
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}
.full-height-grow {
  display: flex;
  flex-direction: column;
}

.button {
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  background-color: #eb5757;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
  outline: none;
  border: none;
  cursor: pointer;
}
h1 {
  font-size: 8rem;
  font-weight: bold;
  color: #f2994a;
  mix-blend-mode: screen;
  transform: translateY(80%);
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
.album-section-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 50px;
}
.album-section-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 30px;
}
.album{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: auto;
}
.album img{
  width: 25vw;
  height: auto;
  margin-bottom: 15px;
}
.album span{
  font-size: 45px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}